<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">


    <!--设值注入-->
    <bean id="injectionServiceSetter"
          class="com.immoc.spring_intro.ioc.injection.service.InjectionServiceSetterImpl">
        <property name="injectionDAO1234" ref="injectionDAOImpl2"></property>
    </bean>
    <bean id="injectionDAOImpl2" class="com.immoc.spring_intro.ioc.injection.dao.InjectionDAOImpl"></bean>
</beans>